# Configuration file

AOBDBB {
    B:"Can bushes be bonemealed to generate new berries"=false
    B:"Do Bushes Prick"=false
}


Ardite {
    S:"Bush Colour"=0xad3900

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        -1
     >
    B:Enabled=true
    D:"Gen chance"=0.0033333333333333335
    D:"Growth chance"=0.013333333333333334
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


Cobalt {
    S:"Bush Colour"=0x134d9b

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        -1
     >
    B:Enabled=true
    D:"Gen chance"=0.0033333333333333335
    D:"Growth chance"=0.013333333333333334
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


ConstraintMetal {
    S:"Bush Colour"=0xaea7a1

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Endium {
    S:"Bush Colour"=0x1e192c

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


HeeEndium {
    S:"Bush Colour"=0x92b9d7

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


ImagSilicon {
    S:"Bush Colour"=0xdde0e8

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Iridium {
    I:"Dimension Blacklist" <
        -1
        1
     >
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Lead {
    S:"Bush Colour"=0x555669

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Magnesium {
    S:"Bush Colour"=0x9b9691

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Mithril {
    S:"Bush Colour"=0xa6b9c3

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Nickel {
    S:"Bush Colour"=0x878983

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Osmium {
    I:"Dimension Blacklist" <
        -1
        1
     >
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.0025
    D:"Growth chance"=0.01
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Platinum {
    S:"Bush Colour"=0xa4c8e8

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Rutile {
    S:"Bush Colour"=0x716f67

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Silver {
    S:"Bush Colour"=0xa3a8ac

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Steel {
    S:"Bush Colour"=0x71706f

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Temporal {
    S:"Bush Colour"=0x465982

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Titanium {
    S:"Bush Colour"=0x5f5f5f

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Uranium {
    S:"Bush Colour"=0x4cae68

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


